@model Expenses.Model.ExpenseModel
<h2>Delete</h2>
<h3>Are you sure want to delete this?</h3>
<div>
    <h3>Expense</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoneySpent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoneySpent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpenseDay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExpenseDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>
    </dl>
</div>